<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package fileId="AvalonEdit" version="5.0.3" targetFramework="net452" />
  <package fileId="Costura.Fody" version="1.3.3.0" targetFramework="net452" developmentDependency="true" />
  <package fileId="DeltaCompressionDotNet" version="1.0.0" targetFramework="net452" />
  <package fileId="Dragablz" version="0.0.3.182" targetFramework="net452" />
  <package fileId="DynamicData" version="5.0.3.2070-beta" targetFramework="net452" />
  <package fileId="Fody" version="1.29.4" targetFramework="net452" developmentDependency="true" />
  <package fileId="MaterialDesignColors" version="1.1.3" targetFramework="net452" />
  <package fileId="MaterialDesignThemes" version="2.2.1-ci761" targetFramework="net452" />
  <package fileId="Microsoft.Azure.DocumentDB" version="1.10.0" targetFramework="net452" />
  <package fileId="Mono.Cecil" version="0.9.6.1" targetFramework="net452" />
  <package fileId="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package fileId="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package fileId="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package fileId="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package fileId="Splat" version="1.6.2" targetFramework="net452" />
  <package fileId="squirrel.windows" version="1.4.4" targetFramework="net452" />
  <package fileId="StructureMap" version="4.4.2" targetFramework="net452" />
  <package fileId="System.Reactive" version="3.0.0" targetFramework="net452" />
  <package fileId="System.Reactive.Core" version="3.0.0" targetFramework="net452" />
  <package fileId="System.Reactive.Interfaces" version="3.0.0" targetFramework="net452" />
  <package fileId="System.Reactive.Linq" version="3.0.0" targetFramework="net452" />
  <package fileId="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net452" />
  <package fileId="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net452" />
</packages>