<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package fileId="AvalonEdit" version="5.0.3" targetFramework="net452" />
  <package fileId="DynamicData" version="5.0.3.2070-beta" targetFramework="net452" />
  <package fileId="Microsoft.Azure.DocumentDB" version="1.10.0" targetFramework="net452" />
  <package fileId="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package fileId="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package fileId="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package fileId="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package fileId="Shouldly" version="2.8.0" targetFramework="net452" />
  <package fileId="System.Reactive" version="3.0.0" targetFramework="net452" />
  <package fileId="System.Reactive.Core" version="3.0.0" targetFramework="net452" />
  <package fileId="System.Reactive.Interfaces" version="3.0.0" targetFramework="net452" />
  <package fileId="System.Reactive.Linq" version="3.0.0" targetFramework="net452" />
  <package fileId="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net452" />
  <package fileId="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net452" />
  <package fileId="xunit" version="2.1.0" targetFramework="net452" />
  <package fileId="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package fileId="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package fileId="xunit.core" version="2.1.0" targetFramework="net452" />
  <package fileId="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package fileId="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
</packages>